.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar {
    border-radius: 0;
}
.navbar .container {
    width: 1300px;
}
.nav-pills>li>a {
    border-radius: 0 4px 4px 0;
}
.nav-stacked>li {
    background: #ddd;
}
